/*/*backups/
/*/*.kicad_prl
**/.DS_Store
**/fp-info-cache
vb125_eth_fdcan_pro/fp-info-cache
**/\#auto_saved_files\#
**/*.bak
vb125_eth_fdcan_pro/_autosave-vb125_eth_fdcan_pro.kicad_pcb
vb125_eth_fdcan_pro/fp-info-cache
vb125_eth_fdcan_pro/fp-info-cache
vb125_eth_fdcan_pro/fp-info-cache
vb125_eth_fdcan_pro/fp-info-cache
